body{
  background-color: #B8E4F0
}
.nom{
  background-color: #77ACF1
}

.imag{
  width: 200px;
  height: auto;
}

hr{
  height: 3px;
  background-color: #77ACF1;
  border: none;
}
.prez{
  text-align: center;
  background-color: #56BBF1;
  width: 80%;
  margin: auto;
}

.italique{
  border: 3px solid #2D31FA;
  padding: 5px
}

.titre{
  color: black;
}
.titre:hover{
  color: #F7F5F2;
}

.france{
  width: 20px;
  height: auto;
}

.angleterre{
  width: 20px;
  height: auto;
}

.espagne{
  width: 20px;
  height: auto;
}

.hebreux{
  width: 20px;
  height: auto;
}
